@import "../../scss/default/variables";
@import "../../scss/index.scss";

.SearchParki {

    .DayPicker {
        width: 100%;
        font-size: 1.1rem;
    }

    &__menu {
        padding: 1rem;
    }

    &__typeFilter {

        label {
            color: $primary-color;
        }
        .btn-group{
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;
            width: 100%;

            button {
                box-shadow: $shadow-button !important;
                background: white !important;
            }
        }

    }

    &__submitButton {
        box-shadow: $shadow-button !important;
    }


}