@import './scss/index.scss';



body {
  margin: 0;
  font-family: $body-font !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: $body-font !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a > i {
  color: $primary-color !important;
}

a:hover {
  text-decoration: none !important;
  opacity: 1 !important;
  transform: scale(1.01);
}




/**************************************
    Default Styles
***************************************/
@import './scss/default/variables';
@import './scss/default/mixins';
@import './scss/default/reset';
// @import 'default/typography';
@import './scss/default/extend';
@import './scss/default/animations';
// @import './scss/default/shortcode';
@import './scss/default/spacing';



@import './scss/components/section';
@import './scss/components/parkiCard';
@import './scss/components/parkiButton';
@import './scss/components/parkiForm';
@import './scss/components/parkiContainer';
