@import '../../../scss/index.scss';

.NewsSection {

    &__container {
        padding: 0 25px;
    }

    &__newsItem {
        padding: 1rem;



        .NewsItem {
            
            
            width: 100% !important;
            margin: 0 !important;
            height: 300px;
            padding: 0 !important;
            overflow: hidden;

            &__image {
                height: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            &__infoBox {
                position: absolute !important;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 45%;
                display: flex;
                &.box-grey {

                    & > div {
                        background-color:#F2F2F2;
                    }
                    .infobox {
                        &__info {
                            flex: 1 1 auto;
                            color: $font-dark;
    
                            .title {
                                font-weight: 900;
                                padding: 1rem 0;
                                color: $primary-color !important;
                            }
                        }
                        &__actions {
                            flex: 0 0 none;
                        }
                    }
                }
                
                & > div {
                    border-radius: 1rem 1rem 0 0 !important;
                    background-color: $primary-color;
                    padding: 1rem;
                    width: 100%;
                    display: flex;
                }

                .infobox {
                    &__info {
                        flex: 1 1 auto;
                        color: white;

                        .title {
                            font-weight: 900;
                            padding: 1rem 0;
                        }
                    }
                    &__actions {
                        flex: 0 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-left: 1rem;

                        button {
                            border-radius: 0.7rem;
                            color: white;

                            &:hover {
                                opacity: 1 !important;
                                background: $gradient-primary;
                                background-image: $gradient-primary !important;
                                transform: scale(1.1);
                            }

                        }
                        
                    }
                }
            }

        }
    }
    .slick-slider {
        padding: 0 1rem;
        margin-bottom: 3rem;
    }
    .slick-arrow {
        width: 40px !important;
        height: 40px !important;
        &:before{
            font-size: 40px !important;
            color: $primary-color;
        }
    }

    
}