@import '../../../scss/index.scss';

.NewsSection {

    &__newsItem {
        padding: 1rem;

        .card:last-child {
        }
        .NewsItem {
            
            
            width: 100% !important;
            margin: 0 !important;
            height: 300px;
            padding: 0 !important;
            overflow: hidden;
            
            &__infoBox {
                position: absolute !important;
                bottom: 0;
                left: 0;
                width: 100%;
                
                & > div {
                    border-radius: 1rem 1rem 0 0 !important;
                    background-color: $primary-color;
                    padding: 1rem;
                    width: 100%;
                    display: flex;
                }

                .infobox {
                    &__info {
                        flex: 1 1 auto;
                        color: white;

                        .title {
                            font-weight: 900;
                            padding: 1rem 0;
                        }
                    }
                    &__actions {
                        flex: 0 0 none;
                    }
                }
            }

        }
    }
    .slick-slider {
        padding: 0 1rem;
    }
    .slick-arrow {
        width: 40px !important;
        height: 40px !important;
        &:before{
            font-size: 40px !important;
            color: $primary-color;
        }
    }

    
}