@import "../../../scss/default/variables";
@import "../../../scss/index.scss";

.Mapbox {
    
    height: 100%;
    position: relative;

    &__marker {
        height: 0;
        width: 30px;
        cursor: pointer;
        img {
            height: auto;
            width: 100%;
            position: absolute !important;
            bottom: 0;
            left: -50%;
        }
    }
    &__marker--selected {
        width: 40px;
    }
    &__cardDeatail {
        position: absolute !important;
        bottom: 55px;
        transform: translateX(-50%);
        padding: 0.2rem 1rem !important;
        border-radius: 1rem;
        background: $gradient-primary-vertical !important;
        box-shadow: $shadow-button;
        
        &__price {
            color: white !important;
            font-size: 1.3rem;
            font-weight: 900;
        }
    }
}