.parki {
    &.container {

        width: 100%;
        padding-right: 25px;
        padding-left: 12.5px;
        margin-right: auto;
        margin-left: auto;

        @media #{$sm-layout} {
            padding: 0 25px;
        }
        @media #{$md-layout} {
            max-width: 756px
        }
        @media #{$lg-layout} {
            max-width: 980px
        }
        @media #{$sm-laptop-device} {
            max-width: 1200px
        }
        @media #{$md-laptop-device} {
            max-width: 1400px
        }
        @media #{$lg-laptop-device} {
            max-width: 1600px
        }
        @media #{$extra-device} {
            max-width: 1800px
        }
        

    }
}