.section {
    &__title {
        color: $primary-color;
        margin: 8rem 0 !important;
        font-size: 4rem;
        text-align: center;
        font-family: 'Didact Gothic', sans-serif;;
    }
}