.section {
    margin-bottom: 8rem;
    &__title {
        color: $primary-color;
        margin-bottom: 8rem !important;
        font-size: 4rem;
        text-align: center;
        font-family: 'Didact Gothic', sans-serif;;
    }
}