.SearchPage {
    
    height: 100%;

    &__container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        height: 100%;
        padding: 20px;

        .parki {
            &.card {
                height: 100%;
                width: 370px;
            }
        }
    }
    &__search {
        margin-bottom: 1.5rem;
    }

    &__map {
        height: 100%;
    }

   
}