@import '../../../scss/index.scss';

.LandingSection {

    position: relative;
    padding-top: 80px;
    padding-bottom: 200px;
    height: 90vh;

    &__bgImage{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
   &__searchForm {
       padding: 50px 2rem !important;
       .card {
           padding: 2.5rem !important;
           .card-title {
               font-size: 1.5rem !important;
               font-family: $body-font;
           }
       }
   } 
}