@import "../../../scss/default/variables";
@import "../../../scss/index.scss";

.ParkiItem {
    display: flex;
    width: 100%;
    cursor: pointer;

    &--selected {
        cursor: default !important;
        background-color: $primary-color-claire;
        border-radius: 1rem;
    }
    
    &__image {
        flex: 0 0 80px;
        img {
            object-fit: cover;
            width: 100% !important;
            aspect-ratio: 1;
            border-radius: 2rem !important;
            box-shadow: $shadow-image;
        }
    }
    &__info {
        padding-left: 1rem;
        width: 100%;
        
        & > div {
            margin-bottom: .3rem;
            
        }


        .detail {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .description {
                margin-bottom: 0 !important;
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            .btn-group {
                .btn:last-child {

                    margin-right: 0 !important;
                }
            }
        }
    }
}