@import "../../../scss/default/variables";
@import "../../../scss/index.scss";

.ParkiItem {
    display: flex;
    width: 100%;
    cursor: pointer;

    &--selected {
        cursor: default !important;
        // background-color: $primary-color-claire;
        border-radius: 1rem;
    }
    
    &__image {
        flex: 0 0 80px;
        img {
            object-fit: cover;
            width: 100% !important;
            aspect-ratio: 1;
            border-radius: 2rem !important;
            box-shadow: $shadow-image;
        }
    }

    &__container {
        width: 100%;
    }
    
    &__host {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
            font-size: 1.3rem;
            line-height: 0;
        }
    }

    &__info {
        padding-left: 1rem;
        width: 100%;
        
        & > div {
            margin-bottom: .5rem;
            
        }


        .detail {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;

            & > * {
                margin-bottom: 0.5rem;
                span {
                    margin-right: 0.5rem;
                }
            }
        }

        .description {
            margin-bottom: 0 !important;
            padding: 1rem 0;
            color: $font-grey !important;
        }


        .btn-group{
            padding-top: 1rem;
            display: flex;
            justify-content: start;
            width: 100%;

            & > * {
                margin-right: 8px !important;
            }

            div, button {
                box-shadow: $shadow-button !important;
                background: white !important;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px !important;
                width: 45px !important;
                border-radius: 0.8rem;

                &.selected {
                    background: $gradient-primary !important;
                    img {
                        filter: brightness(0) invert(1);
                    }
                }

            }
        }
    }


    &__actions {

        &.actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            .btn-group {
                .btn:last-child {

                    margin-right: 0 !important;
                }
            }
        }
    }

}