@import "../../../scss/default/variables";
@import "../../../scss/index.scss";

.ParkiDetail {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 100%;
    

    &__header {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        & > div {
            width: 50%; 
            padding: 0 2rem;
            margin-bottom: 2rem;

            @media (max-width: $breakpoint-smlg-device) {
                width: 100%;
                &.ParkiDetail__map {
                    min-height: 200px;
                    height: 200px;
                }
            }
    
        }
    }

    &__content {
        width: 100%;
        max-width: calc(100% - 284px);
        padding-right: 2rem;

        & > div {
            margin-bottom: 3rem;
        }
    }
    &__booking {
        flex: 0 0 auto;

        .parki.card {
            margin-bottom: 1rem;
        }

        &__price {
            display: flex;
            width: 100%;
            justify-content: space-between;

            color: $primary-color;
            font-weight: 900;
            padding: 1rem;
            font-size: 1.2rem;

            border-top: solid 1px $font-dark;
        }

        &__button {
            display: flex;
            justify-content: center;
            button {
                width: 100%;
            }
        }

        .info {
            max-width: 250px;
            margin: auto;
            text-align: center;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        & > div {
            width: 50%;
            margin-bottom: 2rem;
            @media (max-width: $breakpoint-smlg-device) {
                width: 100%;
            }
        }

        &__section {
            padding-right: 1rem;
            &__title {
                font-size: 1.2rem;
                font-weight: 900;
                color: $primary-color;
                margin-bottom: 1rem;
            }

            &__description {
                color: $font-grey;
            }
        }

        .btn-group{
            padding-top: 1rem;
            display: flex;
            justify-content: start;
            width: 100%;

            & > * {
                margin-right: 8px !important;
            }

            div, button {
                box-shadow: $shadow-button !important;
                background: white !important;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px !important;
                width: 45px !important;
                border-radius: 0.8rem;

                &.selected {
                    background: $gradient-primary !important;
                    img {
                        filter: brightness(0) invert(1);
                    }
                }

            }
        }
    }

    &__sticky {
        position: sticky;
        top: 90px;

    }
    
    &__images {
        width: 100%;
        
        .slick-slide img {
            width: 100%;
            height: 350px;
            border-radius: 2rem;
            object-fit: cover;
            
        
        }
        .slick-dots {
            bottom: 10px !important
        }
    }

    &__host {
        display: flex;
        align-items: center;

        &__image {
            flex: 0 0 80px;
            margin-right: 1rem;
            

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: $shadow-image;
            }
        }

        &__name {
            font-size: 3rem;
            font-weight: 900;
            color: $font-grey;
        }
    }

}