$font-light: #fff;
$font-grey: #797979;
$font-dark: #000;

$background-light: #fff;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: #000;

$action: #0095f6;
$danger: #ed4956;

$primary-color: #1CA6B0;

$primary-color-claire: rgba(28,166,176,0.2);

$gradient-primary: linear-gradient(0deg, rgba(28,166,176,1) 0%, rgba(62,118,175,1) 100%);
$gradient-primary-vertical: linear-gradient(90deg, rgba(28,166,176,1) 0%, rgba(62,118,175,1) 100%);
$gradient-primary-vertical-inverted: linear-gradient(90deg, rgba(62,118,175,1) 0%, rgba(28,166,176,1) 100%);